.anhsp{
    height: 540px;
    width: 540px;
    margin: 50px;
  
}
.sanphamchinh{
    display: flex;
    width: 100%;
}
.input{
    width: 50px;
    margin-top: 20px;
    margin-left: 30px;
}
.soluong{
    display: flex;
}
.atc{
    margin-top: -50px;
    width: 200px;
    height: 50px;
    margin-right: 30px;
    background-color: pink;
    color: aliceblue;
    font-size: larger;
    border-radius: 10px;
    border: none;
    transition: 1s;
   
}

.atc:hover{
    background-color: transparent;
    color: pink;
    border: 1px solid pink;
    transition: 1s;
}

.buynow{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    margin-right: 30px;
    background-color: transparent;
    color: pink;
    border: 1px solid pink;
    font-size: larger;
    border-radius: 10px;
    transition: 1s;
}


.buynow:hover{
    background-color: pink;
    color: white;
    transition: 1s;
}

.price{
    font-size: 15px;
    background-color: #F5F5F5;
    padding: 30px 50px;
}

.price_item{
    color: red;
    font-size: 40px;
    text-align: center;
}

.price_custom{
    color: white;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 50px;
}

.note{
    font-style: italic;
}

.status{
    font-size: 20px;
}

.status_item{
    color: red;
    font-weight: bold;
}

.delivery{
    font-size: 20px;
}

.code{
    font-size: 20px;
}

.level1{
    border: 3px dashed red;
    margin-left: 10px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 1s;
}

.level1:hover{
    background-color: #AEF35A;
    transition: 1s;
}

.level2{
    border: 3px dashed red;
    margin-left: 10px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 1s;
}

.level2:hover{
    background-color: yellow;
    transition: 1s;
}

.level3{
    border: 3px dashed red;
    margin-left: 10px;
    padding: 5px 20px;
    cursor: pointer;
    transition: 1s;
}

.level3:hover{
    background-color: orange;
    transition: 1s;
}

.combo{
    font-size: 20px;
}

.combo_item{
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

.button{
    font-size: 20px;
}

.slg{
    padding: 1px 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: transparent;
    border: 1px solid red;
    color: red;
    font-size: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}

.slg:hover{
    background-color: red;
    color: white;
    transition: 1s;
}

.input_no{
    width: 80px;
    height: 34px;
}

.btn_final{
    display: flex;
    padding-bottom: 50px;
    margin-top: -20px;
}

.cart{
    font-size: 20px;
    background-color: red;
    padding: 15px 30px;
    width: 155px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    width: 250px;
    text-align: center;
}

.cart:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
    transition: 1s;
}

.buy{
    border: 1px solid red;
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
    color: red;
    transition: 1s;
    font-size: 20px;
    width: 160px;
    text-align: center;
}

.buy:hover{
    background-color: red;
    color: white;
    transition: 1s;
}