form{
    width:500px;
    align-items: center;
    padding-bottom: 40px;
    border-radius: 5px;
justify-content: center;
margin-top: 150px;
margin-left: 430px;
text-align: center;

}

.login{
    color:white;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    
}

input{
    margin-top:  25px;
    width: 350px;
    padding: 10px 0;
    border-radius: 5px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    color: yellow;
    background: transparent;
    border: 1px solid yellow;
   
    
    
    
}

::placeholder{
    color:yellow;
    opacity: 50%;
}

button{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
    color:white;
    background: transparent;
    border: 1px solid yellow;
    height: 30px;
}
button:hover{

    height: 30px;
    background-color: yellow;
    transition: 1s;

}
body{
  background-image: url(/image/PA6.png);
  background-size: cover;
}