form{
    box-sizing: border-box;
    width: 250px;
    margin: 100px auto 0;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: palevioletred;
}

.login{
    color:white;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;

}

input{
    margin: 20px 25px;
    width: 200px;
    padding: 10px 0;
    border-radius: 5px;
    border:none;
    background-position: -200px 0;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    color: black
}

::placeholder{
    color:black;
}
button{
    border:none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
    color:white;
    margin-left: 25px;
    background:none;

}
body{

   
    background-size: cover;
}